<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my personal blog</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'contact' %}">CONTACT</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
        <p>My Personal Blog</p>
    </footer>
</body>
</html>