<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>STUDENT DATABASE</h1>
        <table border="2px">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Place</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for i in stud %}
            <tr>
                
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.email}}</td>
                <td>{{i.place}}</td>
                <td><a href="/update/{{i.id}}/">update</a></td>
                <td><a href="/delete/{{i.id}}">delete</a></td>
            </tr>
            {% endfor %}
        </table><br><br>
        <a href="/insert/">do u want to insert a new record??</a>
    </center>
</body>
</html>